[submodule "Dependencies/stb"]
	path = Dependencies/stb
	url = https://github.com/nothings/stb
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Dependencies/nativefiledialog-extended"]
	path = Dependencies/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw
